::deep .mud-main-content {
    height: 100vh;
}

::deep .mud-navmenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

::deep a.mud-nav-link.active > svg {
    margin-left: 12px;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
    font-size: 110%;
}